.jumbotron{
    background-color: #B2D732;
    padding-bottom: 15px;
    padding-top: 40px;
}
.first{
    color:#110934;
    font-size: 50px;
    font-family: 'Arimo', sans-serif;
   
}
.things{
    font-size: 70px;
    color: #FC600A;
    font-family: 'Anton', sans-serif;
}
body{
    background-color: #F0F7D4;
}
#to-do{
    width: 60%;
    height: 35px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#add-to-do {
    width: 25%;
    padding: 5px 8px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #45a049;
}
h3, h4 {
    color: #4424D6;
}
h3{
    font-size: 35px;
}

.weatherBorder{
    border: 1px solid #110934;
    border-radius: 4px;
}